* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(-225deg, #810441 0%, #7b0182 50%, #200b51 100%);
}

header {
    height: 100px;
    background-color: #00000000;
}

.logo-header {
    height: 70%;
    float: left;
    margin: 10px 0 10px 30px;
    fill: #ffffff;
}

nav {
    
    width: 30%;
    height: 50px;
    float: right;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px; 
}

nav li {
    list-style: none;
}

.buy-now {
    background-color: #000000;
    height: 50px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

main {

    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    padding: 30px;
    color: #ffffff;
}

.img-main {
    display: block auto;
    width: 100%;
    height: 500px;
    object-fit: cover;

}

.articles {
    margin: 30px 0 50px 0;
    display: flex;
    justify-content: space-between;
    
}

article {

    width: 30%;
}

.container {
    position: relative;
}

.img-article {
    width: 100%;
}

.tag-img {
    position: absolute;
    bottom: 10px;
    right: 1px;
    background-color: #000000;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.title-article {
    padding: 10px 0 20px 0;
    color: #32B0E0;
}

.par-article {
    text-align: justify;
    color: #ffffff;
}


footer {
    height: 100px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
}